{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/order-product-group.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block body %}
    {% if client_name %}

        <div class="form">
            <h3 class="header">{{ title }} {{ client_name }} w grupie <a
                        href="{{ path('analysis_group_order', {'id_group': id_group }) }}"
                        title="Wszystkie zamówienia w grupie {{ group_name }}"><strong>{{ group_name }}</strong></a>
            </h3>
            <div>
                <form action="{{ path('analysis_client_order', {'id_client': group_order[0]["id_kontrahenta"]}) }}"
                      method="get">
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="date" name="from" value="{{ from ? from : '' }}">
                        </div>
                        <div class="col">
                            <input class="form-control" type="date" name="to" value="{{ to ? to : '' }}">
                        </div>
                        <div class="col">
                            <button class="btn btn-success" type="submit">Przeszukaj</button>
                            <a class="btn btn-info" role="button"
                               href="{{ path('analysis_client_order', {'from': '', 'to': '', 'id_client': group_order[0]["id_kontrahenta"]}) }}">Resetuj</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="art-container">
            {% if client_order is empty %}
                <h4>Brak zamówień kontrahenta w wybranym okresie</h4>
            {% else %}
                <div class="chart">
                    <div id="div_pie_chart"></div>
                </div>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>Lp.</th>
                        <th>Id uzytkownika</th>
                        <th>Nazwa użytkownika</th>
                        <th>Ilość zamówień</th>
                        <th>Wartość zamówień netto</th>
                        <th>Wartość zamówień brutto</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in client_order %}
                        <tr>
                            <td></td>
                            <td>{{ user.id_user }}</td>
                            <td><a href="{{ path('analysis_user_order', {'id_client': app.request.attributes.get('_route_params')['id_client'], 'id_user': user.id_user}) }}">{{ user.username_name }}</a></td>
                            <td>{{ user.order_quantity }} </td>
                            <td>{{ user.net_sum }}</td>
                            <td>{{ user.gross_sum }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="5" style="text-align:right">Łącznie:</th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            {% endif %}
        </div>



    {% else %}
        <h4>Brak kontrahenta o podanym id</h4>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {{ gc_draw([pie_chart], ['div_pie_chart']) }}
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/client-order.js') }}"></script>

{% endblock %}