{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">

{% endblock %}

{% block body %}
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="{{ asset('image/it_center_logo.png') }}" style="width: 210px">
            </div>

            <ul class="list-unstyled components">
                <p><strong>Analizy RFM</strong></p>
                <li class="">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Kontrahenci</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li class="">
                            <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false"
                               class="dropdown-toggle">Grupa 1</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu2">
                                <li class="">
                                    <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false"
                                       class="dropdown-toggle">Kontrahent 1</a>
                                    <ul class="collapse list-unstyled" id="homeSubmenu3">
                                        <li>
                                            <a href="#">Klient 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Klient 2</a>
                                        </li>
                                        <li>
                                            <a href="#">Klient 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Kontrahent 2</a>
                                </li>
                                <li>
                                    <a href="#">Kontrahent 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Grupa 2</a>
                        </li>
                        <li>
                            <a href="#">Grupa 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">Produkty</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">

                        <li>
                            <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false"
                               class="dropdown-toggle">Kategoria główna 1</a>
                            <ul class="collapse list-unstyled" id="pageSubmenu2">

                                <li>
                                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false"
                                       class="dropdown-toggle">Podkategoria 1</a>
                                    <ul class="collapse list-unstyled" id="pageSubmenu3">

                                        <li>
                                            <a href="#">Produkt 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Produkt 2</a>
                                        </li>
                                        <li>
                                            <a href="#">Produkt 3</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Podkategoria 2</a>
                                </li>
                                <li>
                                    <a href="#">Podkategoria 3</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Kategoria główna 2</a>
                        </li>
                        <li>
                            <a href="#">Kategoria główna 3</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu">Raporty porównawcze</a>
                </li>
                <li>
                    <a href="#pageSubmenu">Konfigurator raportów</a>
                </li>

            </ul>


        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-menu">
                        <i class="fas fa-align-left"></i>
                        <span>menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">User</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <h2>Collapsible Sidebar Using Bootstrap 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h3>Lorem Ipsum Dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </div>
    </div>



{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>




{% endblock %}

