{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ orders | length }} największych zamówień</h1>
    {{ dump() }}

    <div id="div_chart"></div>
    <table class="display compact">
        <thead>
        <tr>
            <th>ID zamówienia</th>
            <th>Nr zamówienia</th>
            <th>Nazwa kontrahenta</th>
            <th>data złożenia</th>
            <th>Wartość netto</th>
            <th>Wartość brutto</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id_zamowienia }} </td>
                <td>{{ order.numer_zamowienia }} </td>
                <td>{{ order.nazwa_kontrahenta }} </td>
                <td>{{ order.data_zlozenia | date("d/m/Y") }} </td>
                <td>{{ order.wartosc_netto | number_format(2, ',') }} </td>
                <td>{{ order.wartosc_brutto | number_format(2, ',') }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>
{% endblock %}