{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h2>{{ orders | length }} największych zamówień</h2>

    {# Wykres kołowy #}
    <div id="div_chart"></div>

    {# Tabela #}
    <table class="display mdl-data-table" style="width:100%">
        <thead>
        <tr>
            <th>Nr zamówienia</th>
            <th>Nazwa kontrahenta</th>
            <th>data złożenia</th>
            <th>Wartość netto</th>
            <th>Wartość brutto</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.numer_zamowienia }} </td>
                <td>{{ order.nazwa_kontrahenta }} </td>
                <td>{{ order.data_zlozenia | date("d/m/Y") }} </td>
                <td>{{ order.wartosc_netto | number_format(2, ',') }} </td>
                <td>{{ order.wartosc_brutto | number_format(2, ',') }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>
    <script type="text/javascript" src="{{ asset('js/order.js') }}"></script>
{% endblock %}