{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/order-product-group.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block body %}

    {% if group %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('analysis_group_order_all') }}">Kontrahenci</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ group_name }}</li>
            </ol>
        </nav>

        <div class="form">
            <h3 class="header">
                <strong>
                    Zamówienia grupy {{ group_name }}
                </strong>
            </h3>
            <div>
                <form action="{{ path('analysis_group_order', {'id_group' : id_group}) }}" method="get">
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="date" name="from" value="{{ from ? from : '' }}">
                        </div>
                        <div class="col">
                            <input class="form-control" type="date" name="to" value="{{ to ? to : '' }}">
                        </div>
                        <div class="col">
                            <button class="btn btn-success" type="submit">Przeszukaj</button>
                            <a class="btn btn-info" role="button"
                               href="{{ path('analysis_group_order', {'from': '', 'to': '', 'id_group': id_group}) }}">Resetuj</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="art-container">
            {% if order_group is empty %}
                <h4>Brak zamówień w grupie w wybranym okresie</h4>
            {% else %}
                <div class="chart">
                    <div id="div_column_chart"></div>
                </div>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>Lp</th>
                        <th>Nazwa kontrhenta</th>
                        <th>Ilość zamówień kontrahenta</th>
                        <th>Wartość zamówień netto</th>
                        <th>Wartość zamówień brutto</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in order_group %}
                        <tr>
                            <td></td>
                            <td>
                                <a href="{{ path('analysis_client_order', {'id_client': client.id_kontrahenta }) }}" title="Zamówienia użytkowników kontrahenta {{ client.nazwa_kontrahenta }}">{{ client.nazwa_kontrahenta }}</a>
                            </td>
                            <td>{{ client.ilosc_zamowien }} </td>
                            <td>{{ client.wartosc_netto }}</td>
                            <td>{{ client.wartosc_brutto }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="4" style="text-align:right">Łącznie:</th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            {% endif %}
        </div>

    {% else %}
        <h4>Brak grupy o podanym id</h4>
    {% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {{ gc_draw([column_chart], ['div_column_chart']) }}
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/group-order.js') }}"></script>

{% endblock %}
