<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Analizy RFM{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
              crossorigin="anonymous">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
                integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/1.10.20/css/dataTables.material.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    {% endblock %}
</head>
<body>


<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="{{ path('analysis_index') }}"><img src="{{ asset('image/it_center_logo.png') }}"
                                                        style="width: 210px"></a>
        </div>

        <ul class="list-unstyled components">
            <p><strong>Analizy RFM</strong></p>
            <li>
                <a href="{{ url('analysis_group_order_all') }}" class="a-name">Kontrahenci</a>
                <a style="" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="a-arrow dropdown-toggle" onclick="getAllClientGroups()" ></a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li id="group">
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="a-name">Produkty</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="a-arrow dropdown-toggle"></a>
                <ul class="collapse list-unstyled" id="pageSubmenu">

                    <li>
                        <a href="#" class="a-name">Kategoria główna 1</a>
                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false"
                           class="a-arrow dropdown-toggle"></a>
                        <ul class="collapse list-unstyled" id="pageSubmenu2">

                            <li>
                                <a href="#" class="a-name">Podkategoria 1</a>
                                <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false"
                                   class="a-arrow dropdown-toggle"></a>
                                <ul class="collapse list-unstyled" id="pageSubmenu3">

                                    <li>
                                        <a href="#">Produkt 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Produkt 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Produkt 3</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">Podkategoria 2</a>
                            </li>
                            <li>
                                <a href="#">Podkategoria 3</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">Kategoria główna 2</a>
                    </li>
                    <li>
                        <a href="#">Kategoria główna 3</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#pageSubmenu">Raporty porównawcze</a>
            </li>
            <li>
                <a href="#pageSubmenu">Konfigurator raportów</a>
            </li>

        </ul>


    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-menu">
                    <i class="fas fa-align-left"></i>
                    <span>menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">User</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}
    </div>
</div>


{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.material.min.js"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->

    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
