{% extends 'base.html.twig' %}

{% block body %}

    {{ dump() }}

    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
{#    <table>#}
{#        <tr>#}
{#             sorting of properties based on query components#}
{#            <th>{{ knp_pagination_sortable(pagination, 'Id', 'k.id') }}</th>#}
{#            <th{% if pagination.isSorted('k.nazwaKontrahenta') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'k.nazwaKontrahenta') }}</th>#}
{#        </tr>#}

{#         table body#}
{#        {% for kontrahent in pagination %}#}
{#            <tr {% if loop.index is odd %}class="color"{% endif %}>#}
{#                <td>{{ kontrahent.id }}</td>#}
{#                <td>{{ kontrahent.nazwaKontrahenta }}</td>#}

{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}
     display navigation
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>



{% endblock %}